.dice circle{
    fill: yellow;
    transition: all 0.5s;
    transform-origin: 25px 25px;
}

/* circle hover as individual element */
.dice:hover circle{
    transform: scale(1.2);
}

.dice5 g{
    transition: all 0.3s;
    transform-origin: 100px 100px;
}

/* circles hover as a group */
.dice5:hover g{
    transform: scale(1.2);
}

.pattern{
    font-size: 5rem;
    font-weight: 600;
}

.cls-1{fill:#ffe269;}
.cls-2{fill:#fff;}
.cls-3{fill:#fcf0c0;}

.smileywrap{
    max-width: 300px;
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    
    25%{
        transform: translateX(10px);
    }

    50%{
        transform: translateY(-10px);
    }
    
    75%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(0);
    }
}

.pupil{
    animation: move 1s infinite alternate;
}